include ../variables/main
include ../mixins/main

doctype html
html
  include ../includes/head
  body.body
    .page
      .page-content
        block content
    include ../includes/scripts